@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$main_color: #172496;
$support_color1: #2A4461;
$support_color2: #106CA3;
$support_color3: #F1F1F1;
$support_color3_40: #F1F1F166;
$alternative_color1: #6673E3;
$alternative_color2: #040B4A;
$heading_alternative_color1: #106CA3;
$heading_alternative_color2: #4C55A8;
$ain_text_color1: #BD8BFC;
$ain_text_color1: #3AD6AB;

$m_16: 16px;
$m_28: 28px;
$m_48: 48px;
$m_64: 64px;
$m_72: 72px;

$fs_48: 48px;
$fs_36: 36px;
$fs_24: 24px;
$fs_16: 16px;
$fs_14: 14px;
$fs_8: 8px;

$font_1: 'Montserrat', sans-serif;


$color_bg_primary: #4C55A8;
$color_bg_secondary: #6673E3;
$card_bg_first: rgba(241, 241, 241, 0.4);
$card_bg_second: #3AD6ABCC;
$rounded_radius : 8px;
$text_color_dark: #040B4A;
$text_color_primary: #106CA3;