.carousel-control-prev, .carousel-control-next{
    top: -20%;
}

.carousel_card{
    &__facility{
        margin: 0 .5em;
        border: none;
        background-color: transparent !important;
    }
    &__instructur{
        color: $alternative_color2;
        padding: 0.25rem;
        h5{
            font-weight: 600;
        }
        p, ul{
            font-weight: 500;
            text-align: left;
            font-size: 12px !important;
            margin-bottom: 0.25rem;
        }
        // background-color: transparent !important;
    }
}