.carousel-control-prev,
.carousel-control-next {
  top: -20%;
}

.carousel_card {
  &__facility {
    margin: 0 0.5em;
    border: none;
    background-color: transparent !important;
  }
  &__instructur {
    color: $alternative_color2;
    padding: 0.4rem 0.7rem;
    h5 {
      font-weight: 600;
    }
    p,
    ul {
      font-weight: 500;
      text-align: left;
      font-size: 12px !important;
      margin-bottom: 0.25rem;
    }
  }
  &__testimony {
    text-align: center;
    color: $alternative_color2;
    padding: 0.25rem;
    h5 {
      font-weight: 600;
    }
    p {
      font-weight: 500;
      font-size: 12px !important;
      margin-bottom: 0.25rem;
    }
  }
}

.carousel {
  .card {
    height: 100%;
  }
}
