// Utilities
@import "variables";
@import "carousel";

body {
  font-family: $font_1;
}

.title {
  font-size: $fs_24;
  font-weight: bold;
  &__start {
    @extend .title;
    margin-top: $m_28;
  }
  &__center {
    @extend .title;
    text-align: center;
    margin-top: $m_28;
  }
}

.desc {
  font-size: $fs_14;
  font-weight: 400;
  margin-top: $m_16;
  &__center {
    @extend .desc;
    text-align: center;
  }
}

.card_box {
  border-radius: $rounded_radius;
  padding: 6px 0;
  background-color: $support_color3_40;
  &__text {
    color: white;
    font-weight: 500;
    font-size: 12px;
  }
  &__text_button {
    color: $alternative_color2;
    font-weight: 600;
    font-size: $fs_14;
    background-color: $support_color3;
  }
}

.accordion {
  --bs-accordion-inner-border-radius: 8px;
  --bs-accordion-border-radius: 8px;
}

.accordion-button {
  font-size: $fs_14;
  font-weight: 700;
  color: $alternative_color2;
}

.margin {
  &__instructur {
    margin-top: $m_64;
    padding-bottom: $m_64;
  }
}

.background_second {
  padding-top: $m_16;
  background-color: $support_color2;
}

.background_primary {
  padding: $m_16 0;
  background-color: $color_bg_primary;
}

.background_free_class {
  background-color: $text_color_dark;
  padding: 0 0 1rem 0;
  margin: 0.25rem;
  border-radius: $rounded_radius;
}

.why_sanggar{
  padding-top: $m_48;
  margin-bottom: $m_28;
  color: $heading_alternative_color1;
  img{
    width: 5rem;
    height: 5rem;
    margin-top: $m_28;
  }
  .title{
    font-weight:700;
    font-size: $fs_24;
  }
  .desc{
    font-size: $fs_14;
    font-weight: 500;
    color: black;
  }
  .caption{
    margin-top: 0.5rem ;
    font-size: $fs_16;
    font-weight: 600;
  }
}

.join_now {
  padding: $m_48 0;
  background-color: $color_bg_secondary;
  color: white;
  .card_join {
    background-color: $card_bg_second;
    border-radius: 8px;
    margin-bottom: $m_64;
  }
  .title{
    font-size: $fs_24;
    font-weight: 700;
  }
  .desc{
    font-size: $fs_14;
    font-weight: 500;
  }
  .button{
    font-size: $fs_14;
    font-weight: 600;
    background-color: $support_color1;
    border-radius: 8px;
    color: white;
  }
}

.testimony{
  padding-top: $m_48;
  padding-bottom: $m_48;
  text-align: center;
  color: $support_color2;
  h5{
    font-size: $fs_24;
    font-weight: 700;
    margin-bottom: $m_16;
  }
  .carousel{
    margin-bottom: $m_64;
  }
}

.wa_button{
  background-color: #00E676;
  padding:0.75rem;
  border-radius: 50%;
  color: #FFFFFF;
  position: fixed;
  bottom: 10px;
  right: 10px;
  a{
    text-decoration: none;
    color: #FFFFFF;
  }
}

.footer{
  background-color: $support_color3;
  padding: $m_28 inherit;
  img{
    margin-bottom: $m_28;
  }
  h5{
    font-size: 14px;
    color: $support_color2;
    font-weight: 700;
  }
  a{
    color: #000000;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 12px;
  }
  a:hover{
    text-decoration:underline ;
  }
}

.card_bg_first {
  background-color: $color_bg_secondary;
}

.rounded_box {
  border-radius: $rounded_radius;
}

.youTubeContainer {
  width: 100%;
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
  -webkit-transform: rotate(0.000001deg);
  -webkit-border-radius: $rounded_radius;
  -moz-border-radius: $rounded_radius;
  border-radius: $rounded_radius;
  overflow: hidden;
  display: inline-flex;
}

.shadow_box {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.35), 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: $rounded_radius;
}
