<div class="container-fluid background_primary">
    <div class="d-flex align-items-center justify-content-center" style="height: 30vh;">
        <h1 class="my-auto headerTitle"><%= headerTitle %></h1>
    </div>
</div>