<nav class="navbar navbar-expand-lg bg-white">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a href="/" class="">
        <img src="img/LOGO_SEGAR.svg">
      </a>
      <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
      </svg> -->
      <!-- <a class="nav-link" href="https://goo.gl/maps/BACa1tY9bhMYRb9Q8" target="_blank"><i class="bi bi-geo-alt-fill"></i></a> -->
      <a class="nav-link" href="https://goo.gl/maps/BACa1tY9bhMYRb9Q8" target="_blank"><img src="/img/location-24px.png" class="location-icon"></i></a>
      
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav ms-md-auto mb-2 mb-lg-0 text-center">
          <!-- <li class="nav-item accordion"> -->
            <!-- <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
                Program Sanggar -->
                <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
              </svg> -->
            <!-- </a> -->
            <!-- <div class="collapse" id="collapseExample">
                <ul class="navbar-nav bg-light">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Kelas Umum</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Program Level II & III</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Program Bantuan Pemerintah (BanPer)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Program Khusus</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pelatihan Instruktur</a>
                    </li>
                </ul>
              </div> -->
            <!-- <ul class="navbar-nav" aria-current="page" href="#">Program Sanggar</ul> -->
          <!-- </li> -->
          <li class="nav-item">
            <a class="nav-link " href="instruktur">Instruktur</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="membership">Membership</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="tentang">Tentang Sanggar</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>