@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.carousel-control-prev, .carousel-control-next {
  top: -20%;
}

.carousel_card__facility {
  margin: 0 0.5em;
  border: none;
  background-color: transparent !important;
}
.carousel_card__instructur {
  color: #040B4A;
  padding: 0.25rem;
}
.carousel_card__instructur h5 {
  font-weight: 600;
}
.carousel_card__instructur p, .carousel_card__instructur ul {
  font-weight: 500;
  text-align: left;
  font-size: 12px !important;
  margin-bottom: 0.25rem;
}
.carousel_card__testimony {
  text-align: center;
  color: #040B4A;
  padding: 0.25rem;
}
.carousel_card__testimony h5 {
  font-weight: 600;
}
.carousel_card__testimony p {
  font-weight: 500;
  font-size: 12px !important;
  margin-bottom: 0.25rem;
}

.carousel .card {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
}

.title, .title__center, .title__start {
  font-size: 24px;
  font-weight: 700;
}
.title__start {
  margin-top: 28px;
}
.title__center {
  text-align: center;
  margin-top: 28px;
}
.title__sub {
  font-weight: 700;
  font-size: 16px;
}

.desc, .desc__center {
  font-size: 14px;
  font-weight: 400;
  margin-top: 16px;
}
.desc__center {
  text-align: center;
}
.desc__italic {
  font-style: italic;
  font-size: 16px;
  font-weight: 600;
  color: #040B4A;
}

.card_box {
  border-radius: 8px;
  padding: 6px 0;
  background-color: rgba(241, 241, 241, 0.4);
}
.card_box__text {
  color: white;
  font-weight: 500;
  font-size: 12px;
}
.card_box__text_button {
  color: #040B4A;
  font-weight: 600;
  font-size: 14px;
  background-color: #F1F1F1;
}

.accordion {
  --bs-accordion-inner-border-radius: 8px;
  --bs-accordion-border-radius: 8px;
}

.accordion-button {
  font-size: 14px;
  font-weight: 700;
  color: #040B4A;
}

.margin__instructur {
  margin-top: 64px;
  padding-bottom: 64px;
}

.background_second {
  padding-top: 16px;
  background-color: #106CA3;
}

.background_primary {
  padding: 16px 0;
  background-color: #4C55A8;
}

.background_free_class {
  background-color: #040B4A;
  padding: 0 0 1rem 0;
  margin: 0.25rem;
  border-radius: 8px;
}

.why_sanggar {
  padding-top: 48px;
  margin-bottom: 28px;
  color: #106CA3;
}
.why_sanggar img {
  width: 5rem;
  height: 5rem;
  margin-top: 28px;
}
.why_sanggar .title, .why_sanggar .title__start, .why_sanggar .title__center {
  font-weight: 700;
  font-size: 24px;
}
.why_sanggar .desc, .why_sanggar .desc__center {
  font-size: 14px;
  font-weight: 500;
  color: black;
}
.why_sanggar .caption {
  margin-top: 0.5rem;
  font-size: 16px;
  font-weight: 600;
}

.join_now {
  padding: 48px 0;
  background-color: #6673E3;
  color: white;
}
.join_now .card_join {
  background-color: rgba(58, 214, 171, 0.8);
  border-radius: 8px;
  margin-bottom: 64px;
}
.join_now .title, .join_now .title__start, .join_now .title__center {
  font-size: 24px;
  font-weight: 700;
}
.join_now .desc, .join_now .desc__center {
  font-size: 14px;
  font-weight: 500;
}
.join_now .button {
  font-size: 14px;
  font-weight: 600;
  background-color: #2A4461;
  border-radius: 8px;
  color: white;
}

.testimony {
  padding-top: 48px;
  padding-bottom: 48px;
  text-align: center;
  color: #106CA3;
}
.testimony h5 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
  margin-top: 28px;
}
.testimony .carousel {
  margin-bottom: 64px;
}

.wa_button {
  background-color: #00E676;
  padding: 0.75rem;
  border-radius: 50%;
  color: #FFFFFF;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 10;
}
.wa_button a {
  text-decoration: none;
  color: #FFFFFF;
}

.headerTitle {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: #FFFFFF;
}

.about, .instructur, .membership {
  padding-top: 48px;
  padding-bottom: 48px;
  text-align: center;
}
.about .title, .about .title__start, .about .title__center, .instructur .title, .instructur .title__start, .instructur .title__center, .membership .title, .membership .title__start, .membership .title__center {
  font-weight: 700;
  font-size: 24px;
  color: #040B4A;
}
.about .subTitle, .instructur .subTitle, .membership .subTitle {
  font-weight: 700;
  font-size: 16px;
  text-align: start;
  color: #040B4A;
}
.about .button, .instructur .button, .membership .button {
  font-size: 14px;
  font-weight: 600;
  background-color: #2A4461;
  border-radius: 8px;
  color: white;
}

.footer {
  background-color: #F1F1F1;
  padding: 28px inherit;
}
.footer img {
  margin-bottom: 28px;
}
.footer h5 {
  font-size: 14px;
  color: #106CA3;
  font-weight: 700;
}
.footer a {
  color: #000000;
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 12px;
}
.footer a:hover {
  text-decoration: underline;
}

.card_bg_first {
  background-color: #6673E3;
}

.rounded_box {
  border-radius: 8px;
}

.youTubeContainer {
  width: 100%;
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
  -webkit-transform: rotate(0.000001deg);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  overflow: hidden;
  display: inline-flex;
}

.shadow_box {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.35), 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: 70%;
  background-color: transparent;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-slide h6 {
  margin: 0.25rem auto;
}
.swiper-slide ul {
  padding-left: 1.5rem;
}

.swiper-button-next,
.swiper-button-prev {
  --swiper-navigation-size:2rem;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 5px;
}

.swiperTestimony .card {
  min-width: 100%;
}

/*# sourceMappingURL=main.css.map */
