<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/main.css">
    <title>Document</title>
</head>

<body>
    <%- include('../partials/navbar') %>
    <div class="background_primary">
        <div class="container pt-5">
            <div class="shadow_box">
                <div class="ratio ratio-21x9  py-5 youTubeContainer">
                    <iframe src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" title="YouTube video"></iframe>
                </div>
            </div>
            <div class="text-white container">
                <h1 class="title__start">Belajar Seni yang Bugar Gabungnya di Sanggar Segar</h1>
                <p class="desc">Instruktur pelatihan terbaik dan berpengalaman akan ngajarin kamu sampai 
                    benar-benar memahami dan mendapat keahlian dari program seni yang diikuti 
                    untuk pilihan terbaik dari masa depan kamu.
                </p>
                <div class="card_box row align-items-center">
                    <div class="col-5">
                        <button type="button" class="btn card_box__text_button col-12">Daftar Kelas</button>
                    </div>
                    <div class="col-7">
                        <p class="card_box__text mb-0">Daftarkan keanggotaanmu untuk mendapatkan diskon & paket spesial</p>
                    </div>
                </div>
                <div class="card_box row align-items-center mt-2">
                    <div class="col-5">
                        <button type="button" class="btn card_box__text_button col-12">Lihat Demo</button>
                    </div>
                    <div class="col-7">
                        <p class="card_box__text mb-0">Simak video pelatihan dari instruktur berpengalaman untuk program pilihanmu </p>
                    </div>
                </div>
            </div>
            <!-- Fasilitas Studio -->
            <div class="text-white my-3 text-center">
                <h1 class="title__center">Fasilitas Studio</h1>
                <p class="desc__center">Mulai dari materi hingga studio dan matras. Sanggar Segar punya berbagai 
                    fasilitas yang lengkap untuk menemani aktivitasmu dalam memahami seni.
                </p>
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <div class="card carousel_card__facility">
                          <img src="/img/fasilitasBarbel.png" class="d-block w-100" alt="...">
                          <div class="card-body">
                              <h6 class="card-title">Barbel</h6>
                          </div>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="card carousel_card__facility">
                        <img src="/img/fasilitasMatras.png" class="d-block w-100" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Matras</h5>
                        </div>
                      </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card carousel_card__facility">
                          <img src="/img/fasilitasKelas.png" class="d-block w-100" alt="...">
                          <div class="card-body">
                              <h5 class="card-title">Kelas</h5>
                          </div>
                        </div>
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
            </div>
        </div>
      </div>
      <div class="background_second">
        <div class="container">
            <!-- Kelas Senam -->
            <div class="text-center text-white ">
                <h1 class="title__center">Jelajahi Kelas Senam</h1>
                <p class="desc__center">Berbagai macam pilihan kelas senam maupun seni 
                    dengan metode pelatihan terbaik yang sesuai dengan keinginanmu
                </p>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item mb-2 rounded_box">
                      <h2 class="mb-0" id="headingOne">
                        <button class="accordion-button bg-white rounded_box" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Kelas Umum
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="background_free_class">
                          <img class="img-fluid" src="/img/kelas_senam1.png">
                          <div class="container text-center text-white">
                            <h4>Aerobic (Fun)</h4>
                            <hr>
                            <p>“Lorem ipsum dolor sit amet, lorem ipsum dolor sit amet, lorem ipsum dolor sit amet.”</p>
                            <a href="#" class="btn btn-secondary">Lihat Selengkapnya</a>
                          </div>
                        </div>
                        <div class="accordion-body p-0 pb-4 background_free_class my-2">
                          <img class="img-fluid" src="/img/kelas_senam1.png">
                          <div class="container text-center text-white">
                            <h4>Aerobic (Fun)</h4>
                            <hr>
                            <p>“Lorem ipsum dolor sit amet, lorem ipsum dolor sit amet, lorem ipsum dolor sit amet.”</p>
                            <a href="#" class="btn btn-secondary">Lihat Selengkapnya</a>
                          </div>
                        </div>
                        <div class="accordion-body p-0 pb-4 background_free_class my-2">
                          <img class="img-fluid" src="/img/kelas_senam1.png">
                          <div class="container text-center text-white">
                            <h4>Aerobic (Fun)</h4>
                            <hr>
                            <p>“Lorem ipsum dolor sit amet, lorem ipsum dolor sit amet, lorem ipsum dolor sit amet.”</p>
                            <a href="#" class="btn btn-secondary">Lihat Selengkapnya</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item mb-2 rounded_box">
                      <h2 class="mb-0" id="headingTwo">
                        <button class="accordion-button bg-white rounded_box collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Program level II & III
                        </button>
                      </h2>
                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="background_free_class">
                          <img class="img-fluid" src="/img/kelas_senam1.png">
                          <div class="container text-center text-white">
                            <h4>Aerobic (Fun)</h4>
                            <hr>
                            <p>“Lorem ipsum dolor sit amet, lorem ipsum dolor sit amet, lorem ipsum dolor sit amet.”</p>
                            <a href="#" class="btn btn-secondary">Lihat Selengkapnya</a>
                          </div>
                        </div>
                        <div class="accordion-body p-0 pb-4 background_free_class my-2">
                          <img class="img-fluid" src="/img/kelas_senam1.png">
                          <div class="container text-center text-white">
                            <h4>Aerobic (Fun)</h4>
                            <hr>
                            <p>“Lorem ipsum dolor sit amet, lorem ipsum dolor sit amet, lorem ipsum dolor sit amet.”</p>
                            <a href="#" class="btn btn-secondary">Lihat Selengkapnya</a>
                          </div>
                        </div>
                        <div class="accordion-body p-0 pb-4 background_free_class my-2">
                          <img class="img-fluid" src="/img/kelas_senam1.png">
                          <div class="container text-center text-white">
                            <h4>Aerobic (Fun)</h4>
                            <hr>
                            <p>“Lorem ipsum dolor sit amet, lorem ipsum dolor sit amet, lorem ipsum dolor sit amet.”</p>
                            <a href="#" class="btn btn-secondary">Lihat Selengkapnya</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item mb-2 rounded_box">
                      <h2 class="mb-0" id="headingThree">
                        <button class="accordion-button bg-white rounded_box collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          Program Bantuan Pemerintah (BanPer)
                        </button>
                      </h2>
                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="background_free_class">
                          <img class="img-fluid" src="/img/kelas_senam1.png">
                          <div class="container text-center text-white">
                            <h4>Aerobic (Fun)</h4>
                            <hr>
                            <p>“Lorem ipsum dolor sit amet, lorem ipsum dolor sit amet, lorem ipsum dolor sit amet.”</p>
                            <a href="#" class="btn btn-secondary">Lihat Selengkapnya</a>
                          </div>
                        </div>
                        <div class="accordion-body p-0 pb-4 background_free_class my-2">
                          <img class="img-fluid" src="/img/kelas_senam1.png">
                          <div class="container text-center text-white">
                            <h4>Aerobic (Fun)</h4>
                            <hr>
                            <p>“Lorem ipsum dolor sit amet, lorem ipsum dolor sit amet, lorem ipsum dolor sit amet.”</p>
                            <a href="#" class="btn btn-secondary">Lihat Selengkapnya</a>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <!-- <div class="mt-2">
                    <button class="btn btn-secondary fw-semibold">Lihat Semua Kelas</button>
                </div> -->
            </div>
            <!-- Instruktur Pelatihan -->
            <div class="margin__instructur text-center text-white">
                <h1 class="title__center">Instruktur Pelatihan</h1>
                <p class="desc__center">
                  Mereka yang ahli dalam bidangnya dan siap untuk 
                  membimbing kamu dalam proses belajar seni di Sanggar Segar
                </p>
                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <div class="row">
                        <div class="col-6">
                          <div class="card">
                            <img src="/img/fasilitasBarbel.png" class="d-block w-100" alt="Fasilitas Barbel">
                            <div class="card-body carousel_card__instructur">
                              <h5 class="accordion-button ">Dra. Praptiningsih</h5>
                              <p class="">Penguji UJK LSKSI<br>(Pengalaman 30 tahun)</p>
                              <ul>
                                <li>Marlupi Ballet
                                <li>Sanggar Senam Kartika Dewi</li>
                                <li>Sanggar Senam Hanna</li>
                                <li>Sanggar Senam Noni Kusuma</li>
                                <li>Merapi View</li>
                                <li>LKP Segar</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="card">
                            <img src="/img/fasilitasBarbel.png" class="d-block w-100" alt="Fasilitas Barbel">
                            <div class="card-body carousel_card__instructur">
                              <h5 class="accordion-button ">Dra. Praptiningsih</h5>
                              <p class="">Penguji UJK LSKSI<br>(Pengalaman 30 tahun)</p>
                              <ul>
                                <li>BPR Bantul</li>
                                <li>Sanggar Senam Puspita</li>
                                <li>LKP Segar</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="row">
                        <div class="col-6">
                          <div class="card">
                            <img src="/img/fasilitasBarbel.png" class="d-block w-100" alt="Fasilitas Barbel">
                            <div class="card-body carousel_card__instructur">
                              <h5 class="accordion-button ">Dra. Praptiningsih</h5>
                              <p class="">Penguji UJK LSKSI<br>(Pengalaman 30 tahun)</p>
                              <ul>
                                <li>Marlupi Ballet
                                <li>Sanggar Senam Kartika Dewi</li>
                                <li>Sanggar Senam Hanna</li>
                                <li>Sanggar Senam Noni Kusuma</li>
                                <li>Merapi View</li>
                                <li>LKP Segar</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="card">
                            <img src="/img/fasilitasBarbel.png" class="d-block w-100" alt="Fasilitas Barbel">
                            <div class="card-body carousel_card__instructur">
                              <h5 class="accordion-button ">Dra. Praptiningsih</h5>
                              <p class="">Penguji UJK LSKSI<br>(Pengalaman 30 tahun)</p>
                              <ul>
                                <li>BPR Bantul</li>
                                <li>Sanggar Senam Puspita</li>
                                <li>LKP Segar</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
              </div>
            </div>
        </div>
    </div>
    <div class="container text_color_primary text-center">
        <h1>Kenapa Harus Sanggar Segar?</h1>
        <p class="text-dark">
          Kami sadar bahwa kamu memiliki potensi yang besar
          dalam memahami seni tari baik untuk kebutuhan profesional
          maupun kebutuhan kebugaran.
        </p>
        <img src="/img/Learning-60px.svg">
        <h3>Dibimbing dari Awam</h3>
        <p class="text-dark">
          Pemahamanmu masih sedikit? Atau mungkin belum penah
          sama sekali untuk menari? Tenang!!! kamu akan dibimbing 
          oleh instruktur terlatih dan profesional yang sudah berpengalaman dalam bidangnya hingga mahir dalam praktiknya.
        </p>
        <img src="/img/Expert-60px.svg">
        <h3>Belajar dari Ahlinya</h3>
        <p class="text-dark">
          Tenaga ahli instuktur profesional di Sanggar Segar memiliki pengalaman 
          lebih dari 10 tahun dalam membimbing talenta agar bisa cepat mahir dalam 
          seni yang sesuai dengan pilihanmu. 
        </p>
        <img src="/img/Partner-60px.svg">
        <h3>Jadi Partner Sanggar Segar</h3>
        <p class="text-dark">
          Lulus dari Sanggar Segar, tapi bingung habis itu mau ngapain? Tenang!!! 
          kamu akan dibantu untuk menyalurkan bakatmu melalui partnership yang tergabung 
          dalam komunitas Sanggar Segar.
        </p>
    </div>
    <div class="background_secondary">
      <div class="container text-center text-white">
        <div class="card card_bg_secondary">
          <div class="card-body ">
            <h3 class="card-title">Gabung Sekarang Juga!</h3>
            <p class="card-text">Simpan dan amankan kursi kamu untuk bergabung dalam pelatihan intensif seni dari sanggar kami!</p>
            <a href="#" class="btn btn-primary">Hubungi Kami!</a>
          </div>
        </div>
        <h1>Apa Kata Mereka?</h1>
        <p>
          Lihat kata mereka yang sudah merasakan serunya bergabung dengan Sanggar Segar 
          dan meraih keinginan mereka, mulai dari kebutuhan pribadi hingga kebutuhan profesional.
          Kamu adalah selanjutnya?!
        </p>
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="img-wrapper">
                <img src="/img/fasilitasBarbel.png" class="d-block w-100" alt="Fasilitas Barbel">
              </div>
              <div class="carousel-caption d-block">
                <h5>First slide label</h5>
                <p>Some representative placeholder content for the first slide.</p>
              </div>
            </div>
            <div class="carousel-item">
              <div class="img-wrapper">
                <img src="/img/fasilitasMatras.png" class="d-block w-100" alt="Fasilitas Matras">
              </div>
              <div class="carousel-caption d-block">
                <h5>Second slide label</h5>
                <p>Some representative placeholder content for the second slide.</p>
              </div>
            </div>
            <div class="carousel-item">
              <div class="img-wrapper">
                <img src="/img/fasilitasKelas.png" class="d-block w-100" alt="Fasilitas Kelas">
              </div>
              <div class="carousel-caption d-block">
                <h5>Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
    <div class="container text_color_primary text-center">
      <h1>Media Partner</h1>
      <h3>{{LOGO LOGO MEDIA}}</h3>
      <h1>Masih Ragu Untuk Join?</h1>
      <div class="shadow_box">
        <div class="ratio ratio-21x9  py-5 youTubeContainer">
            <iframe src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" title="YouTube video"></iframe>
        </div>
      </div>
    </div>
    <%- include('../partials/footer') %>
    <script src="/js/card-slider.js"></script>
  </body>
</body>

</html>