<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/main.css">
    <title>About</title>
</head>

<body>
    <%- include('../partials/navbar') %>
    <header>
        <%- include('../partials/header', {headerTitle}) %>
    </header>
    <div class="container membership">
        <h5 class="title">Jadi Member Sanggar</h5>
        <p class="desc">Yuk! Daftarkan segera keanggotaanmu di Sanggar Segar hanya dengan <b>Rp 50.000,00 </b>
            dan kamu dapat menikmati promo-promo spesialnya sebagai Membership resmi.
        </p>
        <a href="#" class="btn button">Daftar Member</a>
        <h5 class="title">Keuntungan Jadi Member</h5>
        <p class="desc">Apa aja sih keuntungan yang bisa dipakai dan dinikmati ketika jadi Member Sanggar Segar?</p>
        <!-- <img src="" alt="" srcset=""> -->
        <p class="desc">Dapet potongan spesial untuk kelas umum, diskon hingga 60%</p>
        <!-- <img src="" alt=""> -->
        <p class="desc">Dapet prioritas kursi ketika proses booking kelas</p>
        <!-- <img src="" alt=""> -->
        <p class="desc">Tergabung dalam komunitas Sanggar Segar</p>
    </div>
    <div class="background_primary">
        <div class="container pt-5">
            <div class="text-white text-center">
                <h5 class="title__start">
                    Pengen Pakai Promo Spesial Membership?<br>Gampang banget, loh!
                </h5>
                <h6 class="title__sub">Langkah 1</h6>
                <p class="desc">Daftarkan keanggotaanmu di Sanggar Segar</p>
                <br>
                <h6 class="title__sub">Langkah 2</h6>
                <p class="desc">Pilih Kelas Seni yang akan kamu ambil</p>
                <br>
                <h6 class="title__sub">Langkah 3</h6>
                <p class="desc">Hubungi CP/Sales melalui Whatsapp, dan lampirkan kartu membermu saat proses booking</p>
                <br>
                <h6 class="title__sub">Langkah 4</h6>
                <p class="desc">Promo spesial dapat dinikmati dan selesaikan pembayaran sesuai dengan potongan yang diberikan oleh CP/Sales</p>
            </div>
        </div>
    </div>
    <div class="container membership">
        <h5 class="title">Studio Sanggar Segar</h5>
        <p class="desc">Studio Sanggar Segar juga bisa disewa untuk kegiatan pribadi loh, diluar dari jadwal yang digunakan untuk program sanggar. 
            Biayanya juga cukup terjangkau, nih, hanya <b>Rp 100.000/jam.</b>
        </p>
        <a href="#" class="btn button">Ajukan Sewa</a>
        <h6 class="title__sub">Lokasi Sanggar Segar</h6>
        <p class="desc">Jl. Karya Utama No. 48, Panggung Sari, Sariharjo, Ngaglik, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55581</p>
        <a href="#" class="btn button">Kunjungi Via Maps</a>
    </div>
    <%- include('../partials/footer') %>
</body>

</html>